/* Box sizing rules */

html {
  box-sizing: border-box;
  font-size: 1.5vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: clamp(16px, 1.2rem, 1.8rem);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* START OF PROJECT CODE */

#outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-evenly;
    min-height: 100svh;
    gap: 3rem;
    width: 100vw;
    justify-content: center;
}

#grid-container {
    width: fit-content;
    min-width: 70vw;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(16, 2rem);
    align-items: center;
    justify-content: center;
    border: 2px solid thistle;
    gap: 0.07rem;
    padding: 1rem;
    box-shadow: 0 0 8px hsl(0, 40%, 11%);
    border-radius: 0.4rem;
    background: hsl(0, 22%, 90%);
    flex: 4;
}

.sketch-board {
    background: hsl(0, 32%, 85%);
    border: 0.1rem solid hsl(0, 32%, 45%);
    border-radius: 0.1rem;
    transition: background 50ms ease-out;
}

.sketch-board:hover {
    background: hsl(0, 57%, 55%);
}

/* Menu Header */

#menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    height: 4rem;
    opacity: 1;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;
}

#menu-header.collapsed {
    height: 0rem;
    opacity: 0;
    display: none;
}


/* Custom Prompt */

.custom-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.prompt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 32%, 88%);
  padding: 2rem;
  min-width: 50vw; 
  min-height: 50vh;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 80px hsl(0, 72%, 90%),
            1px 1px 8px hsl(0, 22%, 40%);
}

.prompt-content label {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: hsl(0, 10%, 20%);
}

.prompt-content input {
  min-width: 40vw;
  min-height: 10vh;
  border-radius: 0.5rem;
  border: 0.1rem solid hsla(0, 72%, 40%, 0.2);
  box-shadow: inset 1px 1px 6px hsl(0, 72%, 80%),
            1px 1px 8px hsl(0, 22%, 40%);
}

.prompt-content button {
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 8rem;
  border: 0.1rem solid hsla(0, 72%, 40%, 0.2);
  box-shadow: inset 1px 1px 4px hsl(0, 72%, 80%),
            1px 1px 8px hsl(0, 22%, 40%);
}

.button-flex {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    min-width: 40vw;
}
