/* Box sizing rules */

html {
  box-sizing: border-box;
  font-size: 1.5vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: clamp(16px, 1.2rem, 1.8rem);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* START OF PROJECT CODE */

:root {
    --starting-color: hsl(0, 80%, 50%);
    --bg-light: hsl(0, 40%, 90%);
    --bg-squares: hsl(0, 50%, 75%);
    --shadow-dark: hsl(0, 15%, 5%);
    --shadow-light: hsl(0, 70%, 90%);
    --font-color: hsl(0, 90%, 3%);
}

#outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-evenly;
    min-height: 100svh;
    gap: 3rem;
    width: 100vw;
    justify-content: center;
}

#grid-container {
    width: fit-content;
    min-width: 70vw;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(16, 2rem);
    align-items: center;
    justify-content: center;
    border: 2px solid thistle;
    gap: 0.07rem;
    padding: 1rem;
    box-shadow: 0 0 8px var(--shadow-dark);
    border-radius: 0.4rem;
    background: var(--bg-light);
    flex: 4;
}

.sketch-board {
    background-color: var(--bg-squares);
    border: 0.1rem solid var(--shadow-dark);
    border-radius: 0.1rem;
    transition: background 50ms ease-out;
}

.sketch-board:hover {
    background-color: var(--starting-color);
}

/* Menu Header */

#menu-header {
    position: fixed;
    top: 0;
    left: 48%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0));
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    height: 4rem;
    opacity: 1;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;
}

#menu-header.collapse {
    height: 0.5rem;
    opacity: 0.0;
    transition: height 300ms ease-in-out,
                opacity 300ms ease-in-out;
}

#menu-header.collapse:hover {
    height: 4rem;
    opacity: 1;
}


/* Custom menu */

.custom-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 100%, 1%, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
  padding: 2rem;
  min-width: 50vw; 
  min-height: 50vh;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 80px var(--shadow-light),
            1px 1px 8px var(--shadow-dark);
}
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-content label {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--font-color);
}

.menu-content input {
  min-width: 30vw;
  min-height: 7vh;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--font-color);
  box-shadow: inset 1px 1px 6px var(--shadow-light),
            1px 1px 8px var(--shadow-dark);
}

.menu-content button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-width: 8rem;
  border: 0.1rem solid var(--shadow-dark);
  box-shadow: inset 1px 1px 6px var(--shadow-light),
            1px 1px 8px var(--shadow-dark);
}

.button-flex {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    min-width: 20vw;
}
